* {
    box-sizing: border-box;
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) rgba 100%);
}

header {
    background: #95e3f755;
    width: 100%;
}

nav {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden
}

nav ul {
    margin: auto;
    display: block;
    max-width: 660px;
}

main {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

main>* {
    float: left;
}

main> :nth-child(odd) {
    width: 25%
}

main> :nth-child(2) {
    width: 50%;
}

main ul,
main li {
    padding: 0;
    margin: 10px 0;
}

aside {
    padding-right: 30px;
}

img {
    max-height: 300px;
    max-width: 100%;
    margin: 0 auto;
}

header li {
    display: inline-block;
    list-style: none;
    margin: 20px 40px 20px 0px;
    font-size: 1.2em;
}

footer {
    background: #95e3f755;
    width: 100%;
    height: 100px;
    clear: both;
}

footer div {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    line-height: 10px;
}

p {
    line-height: 60px;
}

section div {
    padding: 7px;
    box-sizing: border-box;
    float: left;
    width: 50%;
}


/* footer{padding: 7px;
  box-sizing: border-box;
  float: left;
  width: 50%;
} */
#left-image
{
background-position: left center;
}
#right-image
{
    background-position: right center;
}
#center-image
{
    background-position: center;
}